<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.store.query.mapper.StoreOrderMenuMapper">
    <resultMap id="StoreUserOrderMenuMap" type="com.fivemybab.ittabab.store.command.application.dto.StoreUserOrderMenuInfoDto">
        <result property="orderId" column="order_id"/>
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="menuCategoryName" column="menu_category_name"/>
        <result property="storeName" column="store_name"/>
        <result property="reviewContent" column="review_content"/>
        <result property="rating" column="rating"/>
    </resultMap>

    <!-- 특정 유저의 주문 메뉴 전체 조회 -->
    <select
            id="findStoreUserOrderMenuByStoreId"
            resultMap="StoreUserOrderMenuMap">
        SELECT
        o.order_id,
        m.menu_id,
        m.menu_name,
        m.menu_price,
        mc.menu_category_name,
        s.store_name,
        r.review_content,
        r.rating,
        r.create_date,
        r.update_date,
        r.is_blinded
        FROM order_menu o
        JOIN menu m ON o.menu_id = m.menu_id
        JOIN store s ON m.store_id = s.store_id
        JOIN menu_category mc ON m.menu_category_id = mc.menu_category_id
        LEFT JOIN review r ON o.review_id = r.review_id
        WHERE o.user_id = #{userId} AND r.store_id = #{storeId}
        ORDER BY o.order_id;

    </select>


    <!-- 주문 메뉴 리스트 전체 조회 -->
    <select
            id="findStoreOrderMenuList"
            resultType="com.fivemybab.ittabab.store.command.application.dto.StoreOrderMenuInfoDto">
        SELECT *
        FROM order_menu
        WHERE user_id = #{userId}
    </select>

</mapper>
