<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.group.command.application.mapper.GroupInfoMapper">
    <select id="findGroupByGroupStatus"
            resultType="com.fivemybab.ittabab.group.command.application.dto.GroupInfoDto">
        SELECT
        grp.group_id,
        grp.group_category_id,
        grp.user_id,
        grp.group_title,
        grp.user_counting,
        grp.group_status,
        grp.create_date,
        grp.end_date,
        grp.group_post,
        grp.is_blinded
        FROM group_info AS grp
        JOIN user_info AS usr ON usr.user_id = grp.user_id
        WHERE usr.login_id = #{loginId}
        ORDER BY grp.group_id DESC
    </select>

    <select id="findGroupByGroupId"
            resultType="com.fivemybab.ittabab.group.command.application.dto.GroupInfoDto">
        SELECT *
        FROM group_info
        WHERE group_id = #{groupId}
    </select>

    <select id="findUserIdByLoginId"
            resultType="long">
        SELECT user_id
        FROM user_info
        WHERE login_id = #{loginUserLoginId}
    </select>
</mapper>
