<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.group.query.mapper.GroupInfoMapper">

    <select id="findUserDtoByLoginId"
            resultType="long">
        SELECT course_id
        FROM user_info
        WHERE login_id = #{loginId}
    </select>

    <select id="findGroupByGroupStatus"
            resultType="com.fivemybab.ittabab.group.query.dto.GroupInfoDto">
        SELECT
        grp.group_id,
        grp.group_category_id,
        grp.user_id,
        grp.group_title,
        grp.user_counting,
        grp.group_status,
        grp.create_date,
        grp.end_date,
        grp.group_post,
        grp.is_blinded
        FROM group_info AS grp
        JOIN user_info AS usr ON usr.user_id = grp.user_id
        WHERE grp.group_status = 1
        AND usr.course_id = #{courseId}
        ORDER BY grp.group_id DESC
    </select>

    <select id="findGroupByGroupId"
            resultType="com.fivemybab.ittabab.group.query.dto.GroupInfoDto">
        SELECT *
        FROM group_info
        WHERE group_id = #{groupId}
    </select>

    <select id="findUserIdByLoginId"
            resultType="long">
        SELECT user_id
        FROM user_info
        WHERE login_id = #{loginUserLoginId}
    </select>
</mapper>
