<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.group.command.application.mapper.GroupInfoMapper">
    <select
            id="findGroupByGroupStatus"
            resultType="com.fivemybab.ittabab.group.command.application.dto.GroupInfoDto">
        SELECT *
        FROM group_info
        WHERE group_status = 1
        ORDER BY group_id DESC
    </select>

    <select id="findGroupByGroupId"
            resultType="com.fivemybab.ittabab.group.command.application.dto.GroupInfoDto">
        SELECT *
        FROM group_info
        WHERE group_id = #{groupId}
    </select>
</mapper>
