<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group List</title>
</head>
<body>
<h1>Group List</h1>
<table>
    <thead>
    <tr>
        <th>모임 ID</th>
        <th>모집 인원</th>
        <th>내용</th>
        <th>생성 시간</th>
        <th>종료 시간</th>
        <th>자세히 보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groupList}">
        <td th:text="${group.getGroupId()}"></td>
        <td th:text="${group.getMemberCounting()}"></td>
        <td th:text="${group.getGroupPost()}"></td>
        <td th:text="${group.getCreateDate()}"></td>
        <td th:text="${group.getEndDate()}"></td>
        <td>
            <button th:onclick="'location.href=\'/group/detail/' + ${group.getGroupId()} + '\''">자세히 보기</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
