<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.store.query.mapper.StoreFavoriteMapper">
    <select
            id="findStoreFavoriteList"
            resultType="com.fivemybab.ittabab.store.command.application.dto.StoreFavoriteInfoDto">
        SELECT *
        FROM favorite
        WHERE user_id = #{userId}
    </select>

    <select
            id="findStoreFavoriteByStoreIdAndUserId"
            resultType="com.fivemybab.ittabab.store.command.application.dto.StoreFavoriteInfoDto">
        SELECT *
        FROM favorite
        WHERE store_id = #{storeId}
        AND user_id = #{userId}
    </select>
</mapper>
