<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.store.query.mapper.StoreReviewMapper">

    <resultMap id="StoreReviewByStoreIdMap" type="com.fivemybab.ittabab.store.command.application.dto.StoreReviewInfoDto">
        <result property="reviewId" column="review_id"/>
        <result property="storeId" column="store_id"/>
        <result property="userId" column="user_id"/>
        <result property="reviewContent" column="review_content"/>
        <result property="rating" column="rating"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="isBlinded" column="is_blinded"/>
    </resultMap>

    <!-- 특정 가게 리뷰 전체 조회 -->
    <select
            id="findStoreReviewByStoreIdList"
            resultMap="StoreReviewByStoreIdMap">
        SELECT
        r.review_id,
        r.store_id,
        r.user_id,
        r.review_content,
        r.rating,
        r.create_date,
        r.update_date,
        r.is_blinded
        FROM review r
        JOIN user_info u ON r.user_id = u.user_id
        WHERE r.store_id = #{storeId};
    </select>

    <select
        id="findStoreReviewList"
        resultType="com.fivemybab.ittabab.store.command.application.dto.StoreReviewInfoDto">
        SELECT *
        FROM review
        ORDER BY create_date DESC
    </select>

    <select
        id="findStoreReviewById"
        resultType="com.fivemybab.ittabab.store.command.application.dto.StoreReviewInfoDto">
        SELECT *
        FROM review
        WHERE review_id = #{reviewId}
        ORDER BY create_date DESC
    </select>
</mapper>
