<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivemybab.ittabab.store.query.mapper.StoreMenuMapper">
    <select
            id="findStoreMenuByStoreId"
            resultType="com.fivemybab.ittabab.store.command.application.dto.StoreMenuInfoDto">
        SELECT *
        FROM menu
        WHERE store_id = #{storeId}
    </select>

    <select
            id="findStoreMenuByMenuId"
            resultType="com.fivemybab.ittabab.store.command.application.dto.StoreMenuInfoDto">
        SELECT *
        FROM menu
        WHERE store_id = #{storeId}
        AND menu_id = #{menuId}
    </select>
</mapper>
